@model BusinessObject.Product

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text text-danger">Delete</h1>
<hr>
<div>
    <h4>Product</h4>
    <table class="table">
        <tr>
            <td> @Html.DisplayNameFor(model => model.ProductId)</td>
            <td> @Html.DisplayFor(model => model.ProductId)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Category)</td>
            <td> @Html.DisplayFor(model => model.Category.CategoryName)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.ProductName)</td>
            <td> @Html.DisplayFor(model => model.ProductName)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.Weight)</td>
            <td> @Html.DisplayFor(model => model.Weight)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.UnitPrice)</td>
            <td> @Html.DisplayFor(model => model.UnitPrice)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.UnitsInStock)</td>
            <td> @Html.DisplayFor(model => model.UnitsInStock)</td>
        </tr>
    </table>

    <form asp-action="Delete" method="post"  onclick="return confirm('Are you sure you want to do that?');">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
    <div style="padding-top: 10px;"><a class="btn btn-primary" asp-action="Index">Back to List</a></div>
</div>